<div class="">
  <div class="card mb-3 mx-sm-5 mt-sm-3 border" style="max-width: 100%">
    <!-- edit button functionality -->
    <div>
      <div class="d-flex justify-content-end me-1 mt-1">
        <button class="edit_item" data-bs-toggle="modal" mat-mini-fab>
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
          <p class="mt-5">
            <strong>About Us: </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit consequatur, veniam praesentium
            neque id magni non, similique possimus corrupti sapiente accusantium rem rerum minus, dignissimos nihil assumenda deserunt
            libero cum eveniet laboriosam odio iure optio. Natus repudiandae ut placeat nostrum corporis neque pariatur ea impedit
            assumenda, veniam est asperiores, nemo harum quo sapiente sit reiciendis eum earum hic magni nisi quos vel. Cum corporis quae
            esse dolorem, eveniet totam non perspiciatis iste impedit magni delectus iure nisi earum labore architecto ea minus. Ipsam ad
            sapiente eligendi ipsa, nobis vel natus ipsum architecto, recusandae magnam quaerat iste esse aliquid sint eum? lorem200
          </p>
          <p><strong>Website: </strong> <a href="https://www.amazon.com/" target="_blank">https://www.amazon.com/</a></p>
          <p><strong>Contact: </strong> company@gmail.com</p>
          <p><strong>Industry: </strong> Technology, Information and Internet</p>
          <p><strong>Company size: </strong> 10.001+ employees</p>
          <p><strong>Headquaters: </strong> Amsterdam</p>
          <p><strong>Founded: </strong> 2008</p>
        </div>
      </div>
      
      <div class="col-md-6 py-lg-5 px-lg-5 p-3 d-flex align-items-center">
        <div class="ratio ratio-4x3">
          <iframe
            width="1520"
            height="553"
            src="https://www.youtube.com/embed/3nGAQWyzY94"
            class="card-img-top"
            title="YouTube video player"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
