<div class="">
  <div class="card mb-3 mx-sm-5 mt-sm-3 border" style="max-width: 100%">
    <!-- edit button functionality -->
    <div *ngIf="authService.userId === companyId">
      <div class="d-flex justify-content-end me-1 mt-1">
        <button class="edit_item" data-bs-toggle="modal" data-bs-target="#staticBackdropCompanyAboutEdit" mat-mini-fab>
          <mat-icon data-toggle="tooltip" data-placement="top" title="Edit">edit</mat-icon>
        </button>
      </div>
      <app-edit-company-about [company]="company"></app-edit-company-about>
    </div>

    <div class="">
      <div class="col-12 col-lg-6 float-md-end py-lg-3 px-md-5 p-3 d-flex mt-4 align-items-center" *ngIf="company?.companyAboutVideo">
        <div class="ratio ratio-4x3">
          <iframe
            width="1520"
            height="553"
            [src]="sanitize(company?.companyAboutVideo)"
            class="card-img-top"
            title="YouTube video player"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="card-body">
        <p class="mt-lg-4 px-3"><strong>About Us: </strong> {{ company?.aboutUs }}</p>
        <p class="mt-lg-4 px-3" *ngIf="company?.website">
          <strong>Website: </strong> <a href="{{ company?.website }}" target="_blank">{{ company?.website }}</a>
        </p>
        <p class="px-3">
          <strong>Contact: </strong> <a href="mailto:{{ company?.contact }}">{{ company?.contact }}</a>
        </p>
        <p class="px-3"><strong>Industry: </strong> {{ company?.industry }}</p>
        <p class="px-3"><strong>Company size: </strong> {{ company?.companySize }} employees</p>
        <p class="px-3"><strong>Headquaters: </strong> {{ company?.headquarters }}</p>
        <p class="px-3"><strong>Founded: </strong> {{ company?.founded }}</p>
      </div>
    </div>
  </div>
</div>
