<div class="">
  <div class="card mb-3 mx-sm-5 mt-sm-3 border" style="max-width: 100%">
    <!-- edit button functionality -->
    <div>
      <div class="d-flex justify-content-end me-1 mt-1">
        <button class="edit_item" data-bs-toggle="modal" mat-mini-fab>
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

    <div class="">
      <div class="col-12 col-lg-6 float-md-end py-lg-3 px-md-5 p-3 d-flex mt-4 align-items-center">
        <div class="ratio ratio-4x3">
          <iframe
            width="1520"
            height="553"
            src="https://www.youtube.com/embed/3nGAQWyzY94"
            class="card-img-top"
            title="YouTube video player"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="card-body">
        <p class="mt-lg-4 px-3">
          <strong>About Us: </strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure rem libero nemo harum doloremque?
          Placeat culpa fugiat sunt tempora deleniti. Commodi autem nulla vel maiores pariatur rem neque asperiores quam. Perferendis quia
          labore unde aliquam animi. Tempora exercitationem soluta quam omnis hic velit voluptatum suscipit accusantium vel at excepturi
          earum ipsum consectetur vitae ducimus corporis repudiandae, cumque, quod et. Nostrum impedit reprehenderit quisquam libero nihil
          nesciunt! Quam repellat ut saepe dolores, necessitatibus dolor exercitationem eveniet eius facilis sunt aspernatur non nobis iusto
          suscipit consequuntur ad maiores doloribus ullam fugit. Est, illo eaque minus, distinctio exercitationem repellendus voluptatem
          recusandae architecto tempore, dolorem nemo. Excepturi non quod saepe adipisci deserunt? Error itaque, debitis, hic quisquam earum
          velit corporis perferendis numquam laudantium illo dolore id repellendus dolorem iusto unde. Neque, eos quod perspiciatis
          consequuntur suscipit porro, minima possimus omnis nisi hic laudantium at! Ex ratione vel incidunt natus tempore vero recusandae
          temporibus inventore cumque beatae quisquam corrupti maxime libero, vitae dolores eveniet assumenda nesciunt ut accusamus. Iste
          non quia quisquam illum rerum vel, nisi molestiae possimus officiis deleniti nam? Odit velit id nihil magnam praesentium. Eligendi
          maxime sapiente quia necessitatibus ea. Tenetur enim architecto a et perspiciatis placeat dolor? Veniam officiis velit expedita?
        </p>
        <p class="mt-lg-4 px-3"><strong>Website: </strong> <a href="https://www.amazon.com/" target="_blank">https://www.amazon.com/</a></p>
        <p class="px-3"><strong>Contact: </strong> company@gmail.com</p>
        <p class="px-3"><strong>Industry: </strong> Technology, Information and Internet</p>
        <p class="px-3"><strong>Company size: </strong> 10.001+ employees</p>
        <p class="px-3"><strong>Headquaters: </strong> Amsterdam</p>
        <p class="px-3"><strong>Founded: </strong> 2008</p>
      </div>
    </div>
  </div>
</div>
