.back-color {
    background-color: rgb(226, 217, 217);
  }
  
  .edit_item {
    background-color: rgb(234, 229, 229);
  }
  
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: darkblue;
  }