<h5 class="px-sm-5 pt-sm-5">Work Experience</h5>
<hr class="px-sm-5" />

<div class="card mb-3 mx-sm-5 mt-sm-5 border" style="max-width: 100%">
  <div class="row g-0">
    <app-edit-work-experience></app-edit-work-experience>
    <div class="col-md-6">
      <div class="card-body">
        <p class="mt-5"><b>Position: </b> Junior Developer</p>
        <p><b>Duration: </b> 1/1/2022 - 2/1/2022</p>
        <p class="card-text">
          <b>Brief Description: </b>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident
          perferendis a, minus saepe culpa fugiat praesentium harum quae
          accusamus est hic maiores repudiandae corporis nesciunt. Hic officiis
          explicabo veniam voluptate.
        </p>
        
      </div>
    </div>

    <div class="col-md-6 py-lg-5 px-lg-5 p-3 d-flex align-items-center">
      <div class="ratio ratio-4x3">
        <iframe
          width="1520"
          height="553"
          src="https://www.youtube.com/embed/TxJtoBAa2w0"
          class="card-img-top"
          title="YouTube video player"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

