<div class="d-flex justify-content-center" *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!isLoading">
  <h5 class="px-sm-5 pt-sm-5">Skills</h5>
  <hr class="px-sm-5" />
  <div class="card mb-3 mx-sm-5 mt-sm-5 border" style="max-width: 100%">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
          <div *ngIf="user?.fieldsOfExpertise">
            <h5 class="card-title">Fields of expertise</h5>
            <hr />
            <ul>
              <div class="" *ngFor="let expertise of user!.fieldsOfExpertise">
                <p class="card-text mt-4">{{ expertise }}</p>
              </div>
            </ul>
          </div>
          <div *ngIf="user?.toolsAndLanguages">
            <h5 class="card-title">Tools and languages</h5>
            <hr />
            <ul>
              <div class="" *ngFor="let expertise of user!.toolsAndLanguages">
                <p class="card-text mt-4">{{ expertise }}</p>
              </div>
            </ul>
          </div>
          <div *ngIf="user?.personalSkills">
            <h5 class="card-title">Personal skills</h5>
            <hr />
            <ul>
              <div class="" *ngFor="let expertise of user!.personalSkills">
                <p class="card-text mt-4">{{ expertise }}</p>
              </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 py-lg-5 px-lg-5 p-3 d-flex align-items-center" *ngIf="user?.skillsVideo">
        <div class="ratio ratio-4x3">
          <iframe
            width="1520"
            height="553"
            [src]="sanitize(user!.skillsVideo)"
            class="card-img-top"
            title="YouTube video player"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
