<div class="d-none d-sm-block">
  <div class="d-flex justify-content-center" *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="ms-lg-5">
      <div class="card ms-sm-2 ms-md-3 shadow" style="max-width: 100%">
        <div class="row g-0">
          <div class="px-sm-0 d-flex justify-content-center">
            <img
              src="{{user? user.mainInfo!.imageUrl : company!.imageUrl}}"
              class="img-fluid rounded-circle standard-max-size mt-3 mt-md-4"
              alt="profile pic"
            />
          </div>

          <div class="card-body px-sm-2 px-lg-3">
            <div *ngIf="authService.userToken?.type === 'user'">
              <h5 class="card-title d-flex justify-content-center linkk" (click)="onUserClicked()">{{ user!.mainInfo?.name }}</h5>
              <p class="card-text mt-4 px-lg-2"><strong>Studied at: </strong>{{ user!.mainInfo?.studiedAt }}</p>
              <p class="card-text px-lg-2" *ngIf="user!.mainInfo?.worksAt"><strong>Works at: </strong>{{ user!.mainInfo?.worksAt }}</p>
              <p class="card-text px-lg-2"><strong>Contact: </strong>{{ user!.mainInfo?.email }}</p>
              <p class="card-text px-lg-2"><strong>Address: </strong>{{ user!.mainInfo?.city }}, {{ user!.mainInfo?.country }}</p>
            </div>
            <div *ngIf="authService.userToken?.type === 'company'">
              <h5 class="card-title d-flex justify-content-center linkk" (click)="onUserClicked()">{{ company?.name }}</h5>
              <p class="card-text mt-4 px-lg-2"><strong>Industry: </strong>{{ company?.industry }}</p>
              <p class="card-text px-lg-2" *ngIf="company?.website">
                <strong>Website: </strong> <a href="{{company?.website}}" target="_blank">{{ company?.website }}</a>
              </p>
              <p class="card-text px-lg-2"><strong>Contact: </strong>{{ company?.contact }}</p>
              <p class="card-text px-lg-2"><strong>Headquarters: </strong>{{ company?.headquarters }}</p>
            </div>
            <!-- <h5 class="card-title">{{ user!.mainInfo!.name }}</h5>
              <p class="card-text mt-4"><b>Address: </b>{{ address }}</p>
              <p class="card-text"><b>Birthdate: </b>{{ user!.mainInfo!.birthdate }}</p>
              <p class="card-text"><b>Contact: </b> {{ user!.mainInfo!.email }}</p>
              <p class="card-text"><b>Studied at: </b> {{ user!.mainInfo!.studiedAt }}</p>
              <p *ngIf="user?.mainInfo?.worksAt" class="card-text"><b>Works at: </b> {{ user!.mainInfo!.worksAt }}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
