<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="ms-md-4">
      <div class="me-sm-5">
        <a class="navbar-brand">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Logos.svg/1200px-Logos.svg.png"
            class="logo ms-sm-4"
            alt="logo-pic"
          />
        </a>
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" *ngIf="authService.isLoggedIn">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit" >Search</button>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-end me-md-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="" *ngIf="authService.isLoggedIn">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="jobs" *ngIf="authService.isLoggedIn">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.isLoggedIn" (click)="onProfileClick()">Profile</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn">
          <a class="nav-link" routerLink="sign-In">Sign-In</a>
        </li>
        <!-- <li class="nav-item dropdown me-5" *ngIf="!authService.isLoggedIn">
            <app-sign-in-dropdown></app-sign-in-dropdown>
        </li> -->
        <li class="nav-item me-5" *ngIf="authService.isLoggedIn">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
