<div class="d-flex justify-content-center" *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>
<div class="" *ngIf="!isLoading">
  <div class="row pt-sm-5">
    <div class="col-8">
      <h5 class="px-sm-5 mt-3">Personal Project</h5>
    </div>

    <!-- add new project button functionality -->
    <div class="col-4">
      <div *ngIf="authService.userId === userId">
        <div class="d-flex justify-content-end  mx-sm-5 mt-2">
          <button class="edit_item" data-bs-toggle="modal" data-bs-target="#staticBackdropProject" mat-mini-fab>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Add new project">add</mat-icon>
          </button>
          <app-signup-user-personal-projects [newElement]="true"></app-signup-user-personal-projects>
        </div>
      </div>
    </div>
  </div>


  <hr class="px-sm-5" />
  <div class="card mb-3 mx-sm-5 mt-sm-5 border" style="max-width: 100%" *ngFor="let project of user!.projects; let i = index">

    <!-- edit button functionality -->
    <div *ngIf="authService.userId === userId">
      <div class="d-flex justify-content-end me-1 mt-1">
        <button class="edit_item" data-bs-toggle="modal" [attr.data-bs-target]="'#project' + i" mat-mini-fab>
          <mat-icon data-toggle="tooltip" data-placement="top" title="Edit">edit</mat-icon>
        </button>
      </div>
      <app-signup-user-personal-projects [project]="project" [uniqueId]="'project' + i"></app-signup-user-personal-projects>
    </div>

    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
          <p class="mt-5"><b>Project name: </b> {{ project.projectName }}</p>
          <p><b>Duration: </b> {{ project.projectStartDate }} - {{ project.projectEndDate ? project.projectEndDate : 'current' }}</p>
          <p class="card-text" *ngIf="project.projectDescription">
            <b>Brief Description: </b>
            {{ project.projectDescription }}
          </p>
        </div>
      </div>

      <div class="col-md-6 py-lg-5 px-lg-5 p-3 d-flex align-items-center" *ngIf="project?.projectVideo">
        <div class="ratio ratio-4x3">
          <iframe
            width="1520"
            height="553"
            [src]="sanitize(project!.projectVideo)"
            class="card-img-top"
            title="YouTube video player"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
