<app-filters (filterOptions)="applyFilter($event)"></app-filters>

<div class="d-flex justify-content-center" *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!isLoading && selectedJob">
  <div class="row pt-2 px-0 mx-0 d-flex justify-content-center">
    <div class="col-sm-5 ps-0 pe-0">
      <div
        class="card"
        infinite-scroll
        [infiniteScrollContainer]="'.card'"
        [fromRoot]="true"
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="onScroll()"
      >
        <div class="card-body" id="jobsList">
          <div *ngFor="let job of jobs; let i = index">
            <div class="row" (click)="selectJobOffer(i)" id="'jobEdit' + i" data-bs-toggle="collapse" attr.data-bs-target="#job{{ i }}">
              <div class="col-3 col-lg-2 px-1 px-lg-2">
                <img src="{{ job.imgUrl }}" class="standard-size my-2 me-lg-4" />
              </div>
              <div class="col-9 col-lg-10 ps-0 ps-sm-3 pe-0 mb-negative">
                <h5 class="linkk">{{ job.jobTitle }}</h5>
                <a class="h6" data-bs-toggle="collapse" data-bs-target="" (click)="onCompanyClicked(i)">{{ job.companyName }}</a>
                <h6>{{ job.jobType }} • {{ job.experienceLevel }}</h6>
                <h6>{{ job.city }}, {{ job.country }} • ({{ job.onSiteRemote }})</h6>
                <h6>Posted: {{ job.date }}</h6>
              </div>

              <div class="d-flex justify-content-end">
                <app-apply-for-job [questions]="job.interviewQuestions" [uniqueId]="'jobApply' + i"></app-apply-for-job>
                <button
                  type="button"
                  class="btn dark-blue rounded-pill btn-shadows me-2 me-lg-3 mb-3 mb-sm-2"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="'#jobApply' + i"
                >
                  Apply to job
                </button>
              </div>
              

              <hr />
              <div class="d-sm-none" *ngIf="mobile">
                <app-job-content [job]="job" [jobId]="i"></app-job-content>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center my-4 end-page-notification" *ngIf="!isFinished">
            <app-spinner></app-spinner>
          </div>
          <div *ngIf="noJobs || jobs!.length < 4">
            <h4 class="d-flex justify-content-center my-4 end-page-notification">There are no more jobs found....</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="card">
        <div class="accordion-body">
          <p class="h4 mb-0 text-look boldish">{{ selectedJob!.jobTitle }}</p>
          <p class="h5 mb-0 text-look">{{ selectedJob!.companyName }} • {{ selectedJob!.companySize }} employees</p>
          <p class="h5 mb-0 text-look">{{ selectedJob!.city }}, {{ selectedJob!.country }} • ({{ selectedJob!.onSiteRemote }})</p>
          <p class="h5 mb-0 text-look">{{ selectedJob!.jobType }} • {{ selectedJob!.experienceLevel }}</p>
          <p class="h5 mb-0 text-look"><span class="boldish"> Posted:</span> {{ selectedJob!.date }}</p>
          <pre>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 py-lg-3 d-flex align-items-center" *ngIf="selectedJob!?.jobVideo">
          <div class="ratio ratio-16x9">
            <iframe
              width="1520"
              height="553"
              [src]="sanitize(selectedJob!.jobVideo)"
              class="card-img-top"
              title="YouTube video player"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
      <p class="h5 lower-space boldish" ><strong>Job description:</strong></p>
      <pre class="h6">{{ selectedJob!.jobDescription }}
      </pre>
    </pre>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoading && !selectedJob">
  <h2 class="d-flex justify-content-center my-4 end-page-notification">There were no jobs found...</h2>
</div>
