<!-- <div class="row my-sm-5 mx-sm-5 pt-4 mb-5 bg-light">
  <div class="col-md-6 border px-md-3">
    <div class="container border">
      <div class="row">
        <div class="col-md-10 px-sm-4">
          <img
            src="https://picsum.photos/id/237/200/200"
            class="img-fluid rounded-circle"
            style="max-width: 18rem"
            alt="profile pic"
          />
        </div>
      </div>
      <div class="row pt-5">
        <div class="col px-md-4">
          <p class="h4 pb-3">John Doe</p>
          <p>Address: Iasi, Iasi, Romania</p>
          <p>Birth date: 10 May, 2000</p>
          <p>Contact: chiriac13@yahoo.com</p>
          <p>Studied at: Alexandru Ioan Cuza University</p>
          <p>Works at: Alabama Pro</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 border">
    <div class="container">
      <div
        class="embed-responsive embed-responsive-4by3 standard-max-size border mx-auto my-3"
      >
        <iframe
          height="100%"
          width="100%"
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/TxJtoBAa2w0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div> -->
<div class="d-flex justify-content-center" *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>
<div class="card mb-3 mx-sm-5 mt-sm-5 border" style="max-width: 100%" *ngIf="!isLoading">
  <div class="row g-0">
    <div class="col-lg-6 px-sm-4">
      <div class="col-md-10 px-sm-4">
        <img src="{{ user!.mainInfo!.imageUrl }}" class="img-fluid rounded-circle standard-max-size mt-2" alt="profile pic" />
        <div class="">
          <button *ngIf="authService.userId === userId" mat-mini-fab class="back-color position" (click)="uploadButtonClicked()">
            <mat-icon>add_a_photo</mat-icon>
          </button>
        </div>
        <input hidden #uploadImageRef type="file" accept=".png, .jpg" (change)="onFileSelected($event)" />
      </div>

      <div class="card-body ps-sm-5">
        <h5 class="card-title">{{ user!.mainInfo!.name }}</h5>
        <p class="card-text mt-4"><b>Address: </b>{{ address }}</p>
        <p class="card-text"><b>Birthdate: </b>{{ user!.mainInfo!.birthdate }}</p>
        <p class="card-text"><b>Contact: </b> {{ user!.mainInfo!.email }}</p>
        <p class="card-text"><b>Studied at: </b> {{ user!.mainInfo!.studiedAt }}</p>
        <p *ngIf="user?.mainInfo?.worksAt" class="card-text"><b>Works at: </b> {{ user!.mainInfo!.worksAt }}</p>
      </div>
    </div>

    <div class="col-lg-6 py-lg-3 px-md-5 px-lg-3 p-3 d-flex align-items-center" *ngIf="user?.mainInfo?.mainVideo">
      <div class="ratio ratio-4x3">
        <iframe
          width="1520"
          height="553"
          [src]="sanitize(user!.mainInfo!.mainVideo)"
          class="card-img-top"
          title="YouTube video player"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
