.standard-max-size {
  max-width: 27rem;
  height: 14rem;
}

.position {
  margin-left: 13rem;
}

.back-color {
  background-color: rgb(226, 217, 217);
}

.edit_item {
  background-color: rgb(234, 229, 229);
}