<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#jobsList">
  <div class="accordion-body">
    <pre>
      <p class="h4 mb-0"><strong>Junior Software Engineer for Freeloading Team</strong></p>
      <p class="h5 mb-0">Tech Labs</p>
      <p class="h5 mb-0">Iasi, Iasi, Romania (Remote)</p>
      <p class="h5 mb-0">Full-time - Entry level</p>
      <p class="h5 mb-0"><strong> Posted:</strong> 2 weeks ago</p>

      <p class="h5"><strong>Job description:</strong></p>
      <pre class="h6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo sed, sint quibusdam dolore deleniti voluptatem ipsa a alias, quo numquam nam praesentium voluptatum ducimus sequi fugiat reiciendis quasi ut! Sapiente neque consequatur accusantium animi voluptatibus suscipit saepe culpa dolorum voluptatem est at a sit et blanditiis, ipsa dolores facilis dicta earum omnis nesciunt expedita optio quod. Est ea odit repellendus aspernatur inventore repellat? Unde fugiat, odit quasi corporis quisquam quis accusantium numquam eum corrupti illo maiores molestiae vel, maxime provident itaque ut. Esse, asperiores harum. Earum pariatur, ipsa adipisci soluta quia voluptatem at nostrum odio nihil quisquam. Deleniti, unde rem?
        

        New iDea


        lall
      </pre>
    </pre>
  </div>
</div>
