<div
  id="job{{ jobId }}"
  class="accordion-collapse collapse"
  [ngClass]="{ show: jobId === 0 }"
  aria-labelledby="headingOne"
  data-bs-parent="#jobsList"
  *ngIf="job"
>
  <div class="accordion-body">
    <pre>
      <p class="h4 mb-0"><strong>{{ job.jobTitle }}</strong></p>
      <p class="h5 mb-0">{{ job.companyName }}</p>
      <p class="h5 mb-0">{{ job.city }}, {{ job.country }} • ({{ job.onSiteRemote }})</p>
      <p class="h5 mb-0">{{ job.jobType }} • {{ job.experienceLevel }}</p>
      <p class="h5 mb-0"><strong> Posted:</strong> {{ job.date }}</p>

      <p class="h5"><strong>Job description:</strong></p>
      <pre class="h6">{{ job.jobDescription }}
      </pre>
    </pre>
  </div>
</div>
