<button #myModalTriggerInfo [hidden]="true" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropInfo">SignUp</button>
<app-edit-user-info></app-edit-user-info>
<app-edit-user-work-experience></app-edit-user-work-experience>
<app-signup-user-education></app-signup-user-education>
<app-signup-user-personal-projects></app-signup-user-personal-projects>
<app-signup-user-skills></app-signup-user-skills>


<!-- <div class="row">
  <div class="col-lg-4 col-md-3"></div>
  <div class="col-xl-4 col-lg-5 col-md-6 position-absolute top-50 start-50 translate-middle">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">You need to be signed in to acces the site!</h5>
        <button
          class="my-3"
          type="button"
          class="btn btn-primary"
          (click)="signUp()"
        >
          Continue with Google
        </button>
      </div>
    </div>
  </div>
</div> -->
