.standard-max-size {
  max-width: 90%;
  height: 14rem;
}

.position {
  margin-left: 13rem;
}

.back-color {
  background-color: rgb(226, 217, 217);
}

.edit_item {
  background-color: rgb(234, 229, 229);
}

.nav-link {
  color: #495057;
}

.nav-link.active{
  font-weight: bold;
}
