<div class="card mb-3 mx-sm-5 mt-sm-5 border" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-lg-6 px-sm-4">
      <div class="col-md-10 px-sm-4">
        <img src="https://picsum.photos/id/237/200/200" class="img-fluid rounded-circle standard-max-size mt-2" alt="company logo" />
        <div class="">
          <button mat-mini-fab class="back-color position">
            <mat-icon>add_a_photo</mat-icon>
          </button>
        </div>
        <!-- <input hidden #uploadImageRef type="file" accept=".png, .jpg" (change)="onFileSelected($event)" /> -->
      </div>

      <div class="card-body ps-sm-5">
        <h5 class="card-title">Amazon</h5>
        <p class="card-text mt-2">The best cloud provider with unique and innovative solutions</p>
        <p class="card-text mt-4"><strong>Domain: </strong> IT Services & IT Consulting</p>
        <p class="card-text mt-4"><strong>Headquarters: </strong> Amsterdam</p>
      </div>
    </div>

    <div class="col-lg-6 py-lg-3 px-md-5 px-lg-3 p-3 d-flex align-items-center">
      <div class="ratio ratio-4x3">
        <iframe
          width="1520"
          height="553"
          src="https://www.youtube.com/embed/3nGAQWyzY94"
          class="card-img-top"
          title="YouTube video player"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
