<div class="d-flex justify-content-center" *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>
<div class="" *ngIf="!isLoading">
  <h5 class="px-sm-5 pt-sm-5">Education</h5>
  <hr class="px-sm-5" />
  <div class="card mb-3 mx-sm-5 border mt-sm-5" style="max-width: 100%" *ngFor="let school of user!.schools">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
          <p class="mt-5"><b>University: </b> {{ school.school }}</p>
          <p class=""><b>Degree: </b> {{ school.schoolDegree }}</p>
          <p><b>Duration: </b> {{ school.schoolStartDate }} - {{ school.schoolEndDate ? school.schoolEndDate : 'current' }}</p>
          <p class="card-text"><b>Brief Description: </b>{{ school.schoolDescription }}</p>
        </div>
      </div>

      <div class="col-md-6 py-lg-5 px-lg-5 p-3 d-flex align-items-center" *ngIf="school?.schoolVideo">
        <div class="ratio ratio-4x3">
          <iframe
            width="1520"
            height="553"
            [src]="sanitize(school!.schoolVideo)"
            class="card-img-top"
            title="YouTube video player"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
