/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100% !important;
  background-color: rgb(234, 229, 229);
}

.testCheck {
  background-color: red;
}


/* Mat Autocomplete on Modal Fixes */
.cdk-overlay-container {
  z-index: 999999 !important;
}
